<form action="/products" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"></textarea>
  </p>

  <p>
     The Available Categories are:
      <%@categories.each do |category|%>
        <div class="cat_options">[<%= category['id']%>] <%= category['name'] %></div>
      <%end%>


    <label>Categories:</label>
    <input name="text" name ="cateogries">
  </p>

  <p>
    <input type="submit" name="" value=" Create the new product.">
  </p>
</form>
